<div class="container mt-5 col-6">

  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <div class="d-grid gap-3 list-unstyled">
    <% @restaurant.reviews.each do |review| %>
    <div class="p-2 bg-light border d-flex justify-content-between">
    <%= review.content %>
    <%= link_to review_path(review),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %></div>
    <% end %>
  </div>

    <button class="btn btn-secondary m-3"><%= link_to 'Back', restaurants_path, class:"text-white" %></button>
    <button class="btn btn-secondary m-3"><%= link_to 'Update', edit_restaurant_path, class:"text-white" %></button>
    <button class="btn btn-secondary m-3"><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class:"text-white" %></button>

</div>
